:root {
  --neon-green: hsl(150, 100%, 66%);
  --light-neon-green: hsl(150, 47%, 71%);
  --dark-neon-green: hsl(150, 50%, 40%);
}

.dice-btn {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  padding: 1.2em;
  border-radius: 50%;
  border: 0;
  background-color: var(--neon-green);
  cursor: pointer;
  transition: 350ms;
}

.dice-btn:hover {
  box-shadow: 0 0 20px var(--light-neon-green);
}

.dice-btn:active {
  background-color: var(--dark-neon-green);
  box-shadow: 0 0 20px var(--light-neon-green);
}